doctype html
html
    head
        include important.pug
        script(src="/script/regcode.js")
        title SixDuck • Regcode Generator
        style.
            @keyframes spinner{
                from {transform: rotate(0deg)}
                to {transform: rotate(360deg)}
            } 
            #spinner{
                color:#757575;
                animation: spinner 2s linear 0s infinite;
            }
    body
        .container.d-flex.flex-column.justify-content-center.min-vh-100
            .row
                .col-10.col-md-8.col-xl-6.m-auto.border.border-2.border-dark.py-4.px-3
                    .mb-4
                        a(href='/' style='text-decoration: none').text-white.bg-black.px-3.py-2
                            i.fa-solid.fa-caret-left
                            span.ms-1 Quay lại
                    h1.text-centers.mb-5 Regcode Generator
                    form(action="/regcode" method="post")
                        .row.g-3.align-items-center.mb-3
                            .col-auto
                                label.col-form-label Họ và tên
                            .col
                                input(placeholder="Nguyễn Văn A").w-100.form-control#fullname    
                            p
                                i
                                    span.form-text Tiếng Việt có dấu, viết hoa đầy đủ.
                            .mb-4
                                label.col-form-label Facebook username
                                .input-group
                                    .input-group-text @
                                    input(placeholder="nguyen.vana.1001").form-control#facebookusr
                        button(type='button' data-toggle="modal" data-target="#status-modal").btn.btn-dark.w-100#checkValid Xác minh thông tin
        .modal.fade#status-modal(tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="statusLabel" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content.rounded-0.border-0
                    .modal-header
                        h3.m-auto#statusLabel Trạng thái
                    .modal-body.py-4
                        p.text-center#spinner
                            i.fa-solid.fa-spinner.fs-1
                        #status-content.d-none.text-center
                            h5
                                i null
                    .modal-footer
                        button.btn.btn-dark#close-reg(data-dismiss="modal" disabled) Đóng
